<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GIMobile.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<false/>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>0F6DB98F7B8506CDC932F4AE51E9292FD90BAB1F</string>
				<key>dateExpires</key>
				<string>2024/8/23</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>0.12.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>0F6DB98F7B8506CDC932F4AE51E9292FD90BAB1F</string>
						<key>dateExpires</key>
						<string>2024/8/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>hermes.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2332HCHN94</string>
						<key>name</key>
						<string>Ove Arup &amp; Partners International Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>0.12.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>2332HCHN94.com.arup.geo-inspect</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>2332HCHN94</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>GIMobile.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>c3dcb180-397f-465a-ac3a-757f13a630f5</string>
				<key>dateExpires</key>
				<string>2024/8/23</string>
				<key>name</key>
				<string>Geo Inspect App Store Testing</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>2332HCHN94</string>
				<key>name</key>
				<string>Ove Arup &amp; Partners International Ltd</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
