<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>destination</key>
	<string>export</string>
	<key>manageAppVersionAndBuildNumber</key>
	<true/>
	<key>method</key>
	<string>app-store</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.arup.geo-inspect</key>
		<string>Geo Inspect App Store Testing</string>
	</dict>
	<key>signingCertificate</key>
	<string>0F6DB98F7B8506CDC932F4AE51E9292FD90BAB1F</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>2332HCHN94</string>
	<key>uploadSymbols</key>
	<true/>
</dict>
</plist>
